// .link,
// a {
//   color: var(--nv-c-link);
// }

html {
  color: var(--nv-c-text);
  background-color: var(--nv-c-bg);
}

.st-text {
  color: var(--nv-c-text);
}

.nv-title {
  font-family: 'Noto Serif SC', serif, var(--va-font-family-base);
}
