@use 'sass:map';
@use 'solar-vars';
@use 'novel-vars';

// common
$common: (
  'c-brand': solar-vars.$solar-cyan,
  'c-link': solar-vars.$solar-blue,
) !default;
$common: map.merge((), $common);

// palette
$light: (
  'c-text': novel-vars.$text-light,
  'c-bg': novel-vars.$bg-light,
) !default;
$light: map.merge((), $light);

$dark: (
  'c-text': novel-vars.$text-dark,
  'c-bg': novel-vars.$bg-dark,
) !default;
$dark: map.merge((), $dark);

$z-index: () !default;
$z-index: map.merge((), $z-index);
